/* body {
  font-family: sans-serif;

}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
} */

img {
  width: 250px;
  height: 200px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
}

.nav-bar-item {
  order: 1
}

.all-categories-box {
  padding-top: 3em;
}
